.project-card {
    background: var(--bg-card);
    padding: 1.5rem;
    margin: 2rem auto;
    max-width: 1200px;
    border-radius: 10px;
    border: 1px solid var(--border-card);
    text-align: center;

    transition: transform var(--transition-fast),
        box-shadow var(--transition-fast);
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.15);
}

body.dark .project-card:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.project-card img {
    width: 90%;
    object-fit: contain;
    margin-bottom: 0;
}

h2 {
    font-size: 2.2rem
}

.project-link {
    font-size: 1.5rem;
    display: inline-block;
    width: 10rem;
}

.project-link:hover {
    color: var(--accent);
    transition: 0.7s;
}